<div class="container">
  <form [formGroup]="formularioContacto" (ngSubmit)="enviar(formularioContacto)">
  <div class="mb-3">
    <label for="nombre" class="form-label">Nombre Usuario</label>
    <input [ngClass]="{'is-invalid' : hasError('nombre', 'required') || hasError('nombre', 'minlength') }" type="text" class="form-control" id="nombre" formControlName="nombre">
    <!-- <div class="text-danger small" *ngIf="formularioContacto.get('nombre')?.hasError('required') && formularioContacto.get('nombre')?.touched">Nombre Requerido</div>
    <div class="text-danger small" *ngIf="formularioContacto.get('nombre')?.hasError('minlength')">Nombre Requiere mínimo 6 caracteres</div> -->
    <div class="text-danger small" *ngIf="hasError('nombre', 'required')">Nombre Requerido</div>
    <div class="text-danger small" *ngIf="hasError('nombre', 'minlength')">Nombre Requiere mínimo 6 caracteres</div>
  </div>

  <div class="mb-3">
    <label for="email" class="form-label">Email Usuario</label>
    <input [ngClass]="{'is-invalid' : hasError('email', 'required') || hasError('email', 'email')}" type="text" class="form-control" id="email" formControlName="email">
    <div class="text-danger small" *ngIf="hasError('email', 'required')">Email Requerido</div>
    <div class="text-danger small" *ngIf="hasError('email', 'email')">Formato Inválido de Email</div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="!formularioContacto.valid">Submit</button>
</form>
</div>
