<h1>Lista de Usuarios:</h1>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Username</th>
        <th>Dirección</th>
        <th>Detalle</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td>{{usuario.id}}</td>
        <td>{{usuario.name.firstname}} {{usuario.name.lastname}}</td>
        <td>{{usuario.email}}</td>
        <td>{{usuario.phone}}</td>
        <td>{{usuario.username}}</td>
        <td>{{usuario.address.city}}</td>
        <button class="btn btn-primary mb-1" (click)="detalles(usuario.id)">Detalles</button>
      </tr>
    </tbody>
  </table>
</div>